@model List<Chore>
@*

*@
@{
}

<div>
    <div></div>
    <table>
        <tr>
            <th>
                Chore
            </th>
            <th>
                Remove
            </th>
        </tr>
        @foreach (var m in Model)
        {
            <tr>
                <th>
                    @m.ChoreName
                    @m.Id
                </th>
                <th>

                    <form method="post" asp-action="Remove" asp-controller="ChoreTable">
						<input type="hidden" name="Id" value="@m.Id" />
						<input type="submit" value="Remove" />
                    </form>


                </th>
            </tr>
        }
    </table>

    <form method="post" asp-action="Add" asp-controller="ChoreTable">
		<input type="text" name="Chore" />
		<input type="submit" value="Add Chore" />
    </form>
</div>